script(type="text/x-template")#navigation
    .menu
        ul.menu__list
            li(
                v-for="item in menuList"
                :key="item.href"
            ).menu__item
                a(
                    href="#" 
                    :title="item.text"
                    @click.prevent="scrollToSection(item.href)"
                ).menu__link {{item.text}}  

script(type="text/x-template")#navigation--footer
    .menu
        ul.menu__list
            li(
                v-for="item in menuList"
                :key="item.href"
            ).menu__item
                a(
                    href="#" 
                    :title="item.text"
                    @click.prevent="scrollToSection(item.href)"
                ).menu__link {{item.text}}

script(type="text/x-template")#navigation--mobile
    .menu#menuMobile
        .menu__mobile(
            v-if="showMenu"
        )
            .menu__wrapper
                .menu__left
                    .menu__logo
                        h2.menu__title ИБ                
                .menu__right                
                    button(
                        type="button"
                        @click="showMenu = false"
                    ).menu__close
                    transition-group(
                        tag="ul"
                        name="slide"
                    ).menu__list
                        list-item(
                            v-for="item in menuList"
                            :key="item.href"
                            :item="item"
                            :showMenu="showMenu"
                            @scroll="scrollToSection"
                        ).menu__item                            
                    include ./socials

script(type="text/x-template")#list-item
    //-div.slideInUpRight
    div
        a(
            href="#" 
            :title="item.text"
            @click.prevent="$emit('scroll', item.href)"            
        ).menu__link {{item.text}} 
