
script(type="text/x-template")#skills-list
    .widget__skills
        div(v-if="Object.keys(skillGroup).length > 0")     
            ul.skills__list
                li.skills__item(v-for="group in skillGroup" :key="group.id")
                    skills-row(
                        :group="group"
                        :skillList="skillList"
                    )

script(type="text/x-template")#skills-row
    .skills__row
        .skills__title {{group.category}}
        ul.skills__tech-list                
            li(
                v-for="skill in skillList"
                :key="skill.id"
                v-if="skill.category === group.id"
            ).skills__tech-item
                skillItem(
                    :skill="skill"                    
                )

script(type="text/x-template")#skill
    .skills__tech-item-box
        svg(viewBox="0 0 200 200" preserveAspectRatio="none").skills__circle                                                   
            circle(
                r="80" cx="100" cy="100"
            ).skill__circle.skill__circle--under   
            circle(
                r="80" cx="100" cy="100" 
                ref="color-circle"
                stroke="url(#gradient)"
            ).skill__circle.skill__circle--above
        .skills__text {{skill.title}}

