//-  ---------------------------------
//-  основной компонент
//-  ---------------------------------
script(type="text/x-template")#slider-container
    .works__widget
        .slider(v-if="Object.keys(works).length > 0")                   
            //- прокидываем внутрь массив works из data() основного компонента в display        
            display(            
                :works="works"
                :currentWork="currentWork"
                :currentIndex="currentIndex"
                @slide="handleSlide"
                @clickthumbs="handleClickThumbs"            
            )
            info(
                :currentWork="currentWork"
            )             

//-  ---------------------------------
//-  картинки display
//-  ---------------------------------
script(type="text/x-template")#slider-display
    .slider__preview        
        .slider__preview-block(:data-slide="currentWork.sliderIndex")
            //- :src="`${baseURL}${currentWork.photo}`"
            ul.slider__preview-list
                li(
                    v-for="work in works" 
                    :key="work.sliderIndex"
                    :class="{active: work.sliderIndex === currentWork.sliderIndex}"
                ).slider__preview-item
                    .slider__preview-image
                        img(
                            :src="`${baseURL}${work.photo}`" 
                            alt="Крупный план"
                        ).slider__preview-icon
            //- прокидываем внутрь массив works из data() основного компонента в thumbs
            thumbs(
                :works="reversedWorks"
                :currentWork="currentWork"
                @clickthumbs="index => $emit('clickthumbs',index)"
            )
        //- прокидываем в btns событие и связываем с переменной direction            
        btns(
            @slide="direction => $emit('slide', direction)"
        )

//-  ---------------------------------
//-  миниатюры thumbs
//-  ---------------------------------
script(type="text/x-template")#slider-thumbs 
    .slider__thumbs 
        transition-group(
            name="slide"
            tag="ul"            
        ).slider__list
            //- переберем все работы из массива объектов works
            //- переключим класс active если совпадают id currentWork и work 
            li.slider__item(
                v-for="(work, index) in splicedWorks" 
                :key="work.id"
                :class="{active: currentWork.id === work.id}"
                @click.prevent="$emit('clickthumbs', index)"            
            )
                .slider__image                     
                    img(:src="`${baseURL}${work.photo}`" alt="Превью").slider__image-icon

//-  ---------------------------------
//-  кнопки навигации btns
//-  ---------------------------------
script(type="text/x-template")#slider-btns        
    .slider__navigation
        .navigation
            button(type="button" @click.prevent="$emit('slide', 'next')").navigation__button.navigation__button--up
                +icon('arrow-down', 'navigation__button-icon')                    
            button(type="button" @click.prevent="$emit('slide', 'prev')").navigation__button.navigation__button--down
                +icon('arrow-down', 'navigation__button-icon') 

//-  ---------------------------------
//-  информация info
//-  ---------------------------------
script(type="text/x-template")#slider-info
    .slider__content                               
        .slider__description
            .slider__tag
                tags(
                    :tagsArray="tagsArray"
                )                     
                .slider__work
                    h3.slider__work-title {{currentWork.title}}
                    .slider__work-description {{currentWork.description}}
                .slider__linkblock
                    +icon('link', 'slider__icon')
                    a(:href="currentWork.link" target="blank").slider__link Посмотреть сайт                

//-  ---------------------------------
//-  теги tags
//-  ---------------------------------
script(type="text/x-template")#slider-tags
    ul.slider__tag-list
        li.slider__tag-item(v-for="tag in tagsArray")
            .slider__tag-text {{tag}} 