include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | Главная
  body
    .wrapper
      main.maincontent          

        .wrappersections.wrappersections--home
          section.parallax            
            .parallax__layer.parallax__layer--bg
              +image('content/parallax/mountain/bg.jpg', 'parallax__image-bg', 'Изображение')
            - for (var numpic=1; numpic<=6; numpic++)
              - var speed = numpic / 10;
              .parallax__layer(data-speed=speed)
                +image(`content/parallax/mountain/${numpic}.png`, 'parallax__image', 'Изображение')
            //- .parallax__content

          section.fullscreen-section.hero
            .container.hero-container
              header.header
                .header__logo
                  .logo
                    h2.logo__title ИБ
                .header__menu
                  nav.menu
                    ul.menu__list
                      - var items = ['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться'];
                      each item in items
                        li.menu__item
                          a(href="#" title=`${item}`).menu__link #{item}                      
                .header__social
                  .social
                    ul.social__list
                      - var socials = ['insta', 'vk', 'github'];
                      each social in socials
                        li.social__item
                          - var soclink = ''                          
                          case social
                            when 'insta'
                              - soclink='//instagram.com'
                            when 'vk'
                              - soclink='//vk.com'
                            when 'github'
                              - soclink='//github.com'
                          a(href=`${soclink}` target="blank").social__link
                            +icon(social, 'social__icons') 
                .mobile-nav
                  - for (var i=0; i<3; i++)                
                    .mobile-nav__line
              .hero__block
                .hero__profession
                  .hero__profession-elem Личный сайт #[span.span-block] веб-разработчика
                .hero__name
                  h1.hero__name-elem Игорь Безместин  
              .hero__scroll
                .scroll__block            
                  button(type="button").scroll__image             

          section.about
            .container.about-container
              .avatar
                .avatar__block
                  +image(`content/user.jpg`, 'avatar__image', 'Аватар')                             
                .avatar__info
                  table.avatar__info-table
                    -
                      var informations = [
                        ['Проживаю:','Арзамас'], 
                        ['Возраст:', '30 лет'], 
                        ['Родился:', '29 марта 1988'] 
                      ];
                    each info in informations
                      tr.avatar__info-row
                        td.avatar__info-key #{info[0]}
                        td.avatar__info-value #{info[1]}
              .description
                .description__name
                  .description__name-welcome Привет, меня зовут
                  h2.description__title Игорь Безместин
                  .description__name-about Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                .description__block
                  .description__content Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!              


        .triangles
            svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangle__item
              polygon(
                points="0,0 0,100 1000,100"
              )
            svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangle__item
              polygon(
                points="0,100 1000,100 1000,0"
              )

        .wrappersections.wrappersections--two
          section.useful
            .container
              .useful__title
                .title
                  h3.title-elem Чем я могу быть #[span.span-block]полезен вам
                .useful__description Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
              .skills
                .skills__content                    
                  .svg__lineargradient
                    svg
                      defs
                        - var begin="#ad00ed", end="#5500f2";
                        linearGradient(
                          id = "gradient"
                          x1="0%" y1="0%" x2="0%" y2="100%"
                        )
                          stop(offset="0%" stop-color=`${begin}`)
                          stop(offset="100%" stop-color=`${end}`)
                  #skills-component
                  //- ul.skills__list
                  //-   -
                  //-     var skills = [
                  //-       ['Front-end', ['HTML5', 'CSS3', 'Javascript', 'Jquery и Vue.js']],
                  //-       ['Workflow', ['GIT', 'Terminal', 'Gulp', 'Webpack']]
                  //-     ];
                  //-   each skill in skills
                  //-     li.skills__item
                  //-       .skills__title #{skill[0]}
                  //-       ul.skills__tech-list
                  //-         each tech in skill[1]
                  //-           li.skills__tech-item
                  //-             .skills__tech-item-box
                  //-               svg(viewBox="0 0 200 200" preserveAspectRatio="none").skills__circle
                  //-                 circle(
                  //-                   r="80" cx="100" cy="100"
                  //-                 ).skill__circle.skill__circle--under   
                  //-                 circle(
                  //-                   r="80" cx="100" cy="100"
                  //-                   stroke="url(#gradient)"
                  //-                 ).skill__circle.skill__circle--above
                  //-               .skills__text #{tech} 

          section.work
            .container
              .work__title
                .title
                  h2.title-elem Мои работы
              .slider
                .slider__preview
                  div(data-slide="4").slider__preview-block
                    +image('content/work/preview.jpg', 'slider__preview-image','Превью')
                    .slider__workimages
                      ul.slider__list
                        - var previews = ['slider-image1','slider-image2','slider-image3','slider-image4'];
                        each prev in previews
                          li.slider__item                    
                            .slider__image
                              +image(`content/work/${prev}.jpg`, 'slider__image-icon','Работа')
                  .slider__navigation
                    .navigation
                      button(type="button").navigation__button.navigation__button--up.no-active
                        +icon('arrow-down', 'navigation__button-icon')                    
                      button(type="button").navigation__button.navigation__button--down
                        +icon('arrow-down', 'navigation__button-icon')                   
                .slider__content                               
                  .slider__description
                    .slider__tag
                      ul.slider__tag-list
                        - var tags = ['HTML', 'CSS', 'Javascript'];
                        each tag in tags
                          li.slider__tag-item
                            .slider__tag-text #{tag}                      
                      .slider__work
                        h3.slider__work-title Сайт школы образования
                        .slider__work-description Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                      .slider__linkblock
                        +icon('link', 'slider__icon')
                        a(href="#" target="blank").slider__link Посмотреть сайт
        
        .wrappersections.wrappersections--end
          .triangles.triangles--two
            svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangle__item
              polygon(
                points="0,0 1000,100 1000,0"
              )
            svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangle__item
              polygon(
                points="0,0 0,100 1000,0"
              )

          section.review
            .container
              .review#review
                .review__titlebox
                  .title
                    h2.title-elem Что обо мне говорят
                  .review__navigation
                    .navigation
                      button(type="button" @click="previous()").navigation__button.navigation__button--up.no-active
                        +icon('arrow-down', 'navigation__button-icon')                    
                      button(type="button" @click="next()").navigation__button.navigation__button--down
                        +icon('arrow-down', 'navigation__button-icon')                
                .review__block
                  .review__content                  
                    flickity(ref="flickity" :options="flickityOptions").review__list
                      -
                        var reviews = [
                          ['Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!', 'Ковальчук Дмитрий', 'Основатель Loftschool'],
                          ['Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах', 'Владимир Сабанцев', 'Преподаватель'],
                          ['Этот код выдержит любые испытания', 'Владимир Сабанцев', 'Преподаватель']
                        ], i = 1;
                      each review in reviews
                        .review__item.carousel-cell
                          .review__description
                            .review__text #{review[0]}
                            .review__autor
                              .avatar.avatar--review
                                .avatar__block
                                  +image(`content/reviews/review${i++}.jpg`, 'avatar__image','Аватар')
                              .review__about
                                .review__name #{review[1]}
                                .review__profession #{review[2]} 
            
          section.feedback
            .container
              .title
                h2.title__elem Связаться со мной
              form.form
                .form__wrapper                  
                  .form__row                   
                    label(data-text="Введите ваше имя").form__elem  
                      .form__elem-container.form__elem-container--user                        
                        input(type="text" placeholder="Ковальчук Дмитрий").form__elem-input
                    label(data-text="Введите ваш email").form__elem
                      .form__elem-container.form__elem-container--envelope                        
                        input(type="text" placeholder="loftschool@study.com").form__elem-input
                  .form__row.form__row--textarea 
                    lavel(data-text="Сообщение к письму").form__elem
                      .form__elem-container.form__elem-container--message                        
                        textarea(type="textarea" placeholder="Требуется ваша помощь в создании сайта.\nИнтересуют сроки и цена вопроса").form__elem-input.form__elem-input--textarea
                  .form__row
                    lavel.form__elem.form__elem--button
                      button(type="submit").form__elem-button Отправить     

      footer.footer
        .container.footer-container 
          .footer__left         
            .copyright
              .copyright__year
                .copyright__year-text © 2019
              .footer__hero
                .hero__name
                  h1.hero__name-elem Игорь Безместин
                .hero__profession
                  .hero__profession-elem Личный сайт #[span.span-block]веб-разработчика 
          .footer__right    
            .footer__navigation
              nav.menu.menu--col-white
                ul.menu__list
                  each item in items
                    li.menu__item
                      a(href="#" title=`${item}`).menu__link #{item}
            .footer__thinks
              .footer__mythink
                article.footer__text Этот сайт я сделал в рамках обучения в #[span.span-block]Школе онлайн образования Loftschool            
                .footer__social
                  .social
                    ul.social__list
                      - var socials = ['insta', 'vk', 'github'];
                      each social in socials
                        li.social__item
                          - var soclink = ''                          
                          case social
                            when 'insta'
                              - soclink='//instagram.com'
                            when 'vk'
                              - soclink='//vk.com'
                            when 'github'
                              - soclink='//github.com'
                          a(href=`${soclink}` target="blank").social__link
                            +icon(social, 'social__icons')  
              .footer__greatthink
                article.footer__text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                .footer__thinker Martin Golding
    include ./templates/entry.pug