include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | Главная    
  body
    .wrapper
           
      main.maincontent          

        .wrappersections.wrappersections--home.animation
          section.parallax            
            .parallax__layer.parallax__layer--bg
              +image('content/parallax/mountain/bg.jpg', 'parallax__image-bg', 'Изображение')
            - for (var numpic=1; numpic<=6; numpic++)
              - var speed = numpic / 10;
              .parallax__layer(data-speed=speed)
                +image(`content/parallax/mountain/${numpic}.png`, 'parallax__image', 'Изображение')
            //- .parallax__content

          section#section_1.fullscreen-section.hero
            .container.hero-container
              header.header
                .header__logo.animated__s1-1
                  .logo
                    h2.logo__title ИБ
                .header__menu
                  nav#navigation_menu                  
                      
                .header__social.animated__s1-2
                  include ./templates/components/socials
                                
                #mobile-nav.mobile-nav
                  - for (var i=0; i<3; i++)                
                    .mobile-nav__line
                  
              .hero__block
                .hero__profession.animated__s1-3
                  .hero__profession-elem Личный сайт #[span.span-block] веб-разработчика
                .hero__name.animated__s1-4
                  h1.hero__name-elem Игорь Безместин  
              .hero__scroll
                .scroll__block            
                  button(type="button").scroll__image             

          section#section_2.about
            .container.about-container
              .avatar
                .avatar__block.animated__s2-1
                  +image(`content/user.jpg`, 'avatar__image', 'Аватар')                             
                .avatar__info.animated__s2-2
                  table.avatar__info-table
                    -
                      var informations = [
                        ['Проживаю:','Арзамас'], 
                        ['Возраст:', '30 лет'], 
                        ['Родился:', '29 марта 1988'] 
                      ];
                    each info in informations
                      tr.avatar__info-row
                        td.avatar__info-key #{info[0]}
                        td.avatar__info-value #{info[1]}
              .description
                .description__name
                  .description__name-welcome Привет, меня зовут
                  h2.description__title Игорь Безместин
                  .description__name-about Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                .description__block
                  .description__content Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!              


        .triangles
            svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangle__item
              polygon(
                points="0,0 0,100 1000,100"
              )
            svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangle__item
              polygon(
                points="0,100 1000,100 1000,0"
              )

        .wrappersections.wrappersections--two
          section#section_3.useful
            .container
              .useful__title
                .title
                  h3.title-elem Чем я могу быть #[span.span-block]полезен вам
                .useful__description Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
              .skills
                .skills__content                    
                  .svg__lineargradient
                    svg
                      defs
                        - var begin="#ad00ed", end="#5500f2";
                        linearGradient(
                          id = "gradient"
                          x1="0%" y1="0%" x2="0%" y2="100%"
                        )
                          stop(offset="0%" stop-color=`${begin}`)
                          stop(offset="100%" stop-color=`${end}`)
                  #skills-component                  

          section#section_4.work
            .container
              .work__title
                .title
                  h2.title-elem Мои работы
              #slider-component             
        
        .wrappersections.wrappersections--end

          section.parallax.parallax--budda            
              .parallax__layer.parallax__layer--bg
                +image('content/parallax/budda/bg.jpg', 'parallax__image-bg', 'Изображение')
              - for (var numpic=1; numpic<=7; numpic++)
                - var speed = numpic / 10;
                .parallax__layer(data-speed=speed)
                  +image(`content/parallax/budda/${numpic}.png`, 'parallax__image', 'Изображение')

          .triangles.triangles--two
            svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangle__item
              polygon(
                points="0,0 1000,100 1000,0"
              )
            svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangle__item
              polygon(
                points="0,0 0,100 1000,0"
              )
                    
          section#section_5.review
            .container
              .review#review              
            
          section#section_6.feedback
            .container
              .title.animated__s6-1
                h2.title__elem Связаться со мной
              form.form#form
                .form__wrapper                  
                  .form__row
                    label(data-text="Введите ваше имя").form__elem.name.animated__s6-2
                      .form__elem-container.form__elem-container--user                                                
                        input(type="text" placeholder="Ковальчук Дмитрий" name="name" required).form__elem-input
                        .form__tooltip
                          .form__tooltip-text 
                    label(data-text="Введите ваш email").form__elem.email.animated__s6-3
                      .form__elem-container.form__elem-container--envelope                        
                        input(type="email" placeholder="loftschool@study.com" name="email" required).form__elem-input
                        .form__tooltip
                          .form__tooltip-text 
                  .form__row.form__row--textarea
                    lavel(data-text="Сообщение к письму").form__elem.comments
                      .form__elem-container.form__elem-container--message                        
                        textarea(type="textarea" name="comments" required placeholder="Требуется ваша помощь в создании сайта.\nИнтересуют сроки и цена вопроса").form__elem-input.form__elem-input--textarea
                        .form__tooltip
                          .form__tooltip-text 
                  .form__row.animated__s6-4
                    lavel.form__elem.form__elem--button
                      button(type="submit").form__elem-button Отправить     

      footer.footer
        .container.footer-container 
          .footer__left         
            .copyright
              .copyright__year
                .copyright__year-text © 2019
              .footer__hero
                .hero__name
                  h1.hero__name-elem Игорь Безместин
                .hero__profession
                  .hero__profession-elem Личный сайт #[span.span-block]веб-разработчика 

          .footer__right    
            .footer__navigation
              nav#navigation_menu--footer              
            .footer__thinks
              .footer__mythink
                article.footer__text Этот сайт я сделал в рамках обучения в #[span.span-block]Школе онлайн образования Loftschool            
                .footer__social
                  include ./templates/components/socials

              .footer__greatthink
                article.footer__text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                .footer__thinker Martin Golding 

      .modal
        .modal__window
          .modal__title Письмо отправлено
          button(type="button").form__elem-button.modal__button Закрыть 
        .modal__tooltip.green
          .modal__tooltip-text Сообщение отправлено
          .modal__tooltip-close
      
      nav#navigation_menu--mobile

    include ./templates/entry.pug